h2 {
	color: navy;
	margin-left: 20px;
	font-size: 25pt;
	font-family: Arial;
}

h3 {
	color: navy;
	margin-left: 20px;
	font-size: 25pt;
	font-family: Arial;
}

h4 {
	font-size: 15pt;
	color: blue;
	margin-left: 20px;
}
